.page {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__content {
  padding: 0 40px;
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .page__content {
    padding: 0 20px;
  }
}
